<div class="row" style="width: 100%; background-color: #fff;">
    <div class="container">
        <div class="content-header">
            <div class="container-fluid">
                <h1 class="title mb-3 bex-color animate__animated animate__fadeInDown" style="font-weight: bolder;">
                    PROGRAM KEMITRAAN</h1>
            </div><!-- /.container-fluid -->
        </div>


        <div class="row">
            <div data-elementor-type="wp-page" data-elementor-id="1203" data-post-id="1203" data-obj-id="1203"
                class="elementor elementor-1203 dce-elementor-post-1203" data-elementor-post-type="page">
                <section data-particle_enable="false" data-particle-mobile-disabled="false"
                    class="elementor-section elementor-top-section elementor-element elementor-element-e832b1c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="e832b1c" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c258df0"
                            data-id="c258df0" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <h2 class="elementor-heading-title1 elementor-size-default">KeyBe Mitra Business
                                    to Business (B2B)</h2>
                                <div class="elementor-element elementor-element-49078db elementor-widget elementor-widget-text-editor"
                                    data-id="49078db" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <style>
                                            /*! elementor - v3.15.0 - 31-07-2023 */
                                            .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                                background-color: #69727d;
                                                color: #1c1c1c
                                            }

                                            .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                                color: #69727d;
                                                border: 3px solid;
                                                background-color: transparent
                                            }

                                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                                margin-top: 8px
                                            }

                                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                                width: 1em;
                                                height: 1em
                                            }

                                            .elementor-widget-text-editor .elementor-drop-cap {
                                                float: left;
                                                text-align: center;
                                                line-height: 1;
                                                font-size: 50px
                                            }

                                            .elementor-widget-text-editor .elementor-drop-cap-letter {
                                                display: inline-block
                                            }
                                        </style>
                                        <p>KeyBe Mitra Business to Business (B2B) adalah bisnis yang dilakukan antara
                                            KeyBe Xpress dengan Mitra Potensial,<br>atau KeyBe Agency yang memiliki
                                            minimal 100 agency/outlet/jaringan.&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-particle_enable="false" data-particle-mobile-disabled="false"
                    class="elementor-section elementor-top-section elementor-element elementor-element-4d10544 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="4d10544" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4582d31"
                            data-id="4582d31" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-4cdc56b elementor-widget elementor-widget-heading"
                                    data-id="4cdc56b" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title1 elementor-size-default">Manfaat dan
                                            Keuntungan menjadi KeyBe Agency</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-particle_enable="false" data-particle-mobile-disabled="false"
                    class="elementor-section elementor-top-section elementor-element elementor-element-259f27c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="259f27c" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3a826d3"
                            data-id="3a826d3" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-d659f79 elementor-widget elementor-widget-heading"
                                    data-id="d659f79" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title1 elementor-size-default">Syarat Kemitraan
                                            KeyBe Mitra B2B
                                        </h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-387d13a elementor-widget elementor-widget-text-editor"
                                    data-id="387d13a" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <ul>
                                            <li>Memiliki sistem aplikasi dengan pola H2H yang terhubung dengan sistem
                                                KeyBe Xpress</li>
                                            <li>Memiliki pasar potensial (captive market)&nbsp;</li>
                                            <li>Memiliki banyak outlet (minimal 100 outlet/lokasi/jaringan)</li>
                                            <li>Memiliki pasar/klien potensial (captive market)</li>
                                            <li>Menyediakan uang jaminan pada rekening yang ditetapkan oleh KeyBe
                                                Xpress.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-7da6922 elementor-widget elementor-widget-text-editor"
                                    data-id="7da6922" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <ol>
                                            <li>Mendapatkan imbal jasa dari setiap transaksi KeyBe Agency</li>
                                            <li>Lebih mudah mengembangkan layanan agency karena KeyBe Xpress sudah
                                                memiliki branding yang kuat dan<br>terkenal di Masyarakat</li>
                                            <li>Jaringan KeyBe Xpress tersebar di seluruh wilayah Indonesia dan
                                                layanannya sampai ke Luar Negeri</li>
                                            <li>Kerahasiaannya aman dan terjamin. Sistemnya menggunakan tingkat keamanan
                                                yang tinggi dengan protokol<br>secure socket layer 256 bit untuk menjaga
                                                keamanan data pelanggan</li>
                                            <li>Transaksi yang transparan. Layanan ini mendukung good corporate
                                                governance</li>
                                            <li>Memberi keleluasaan kepada mitra untuk turut mengembangkan layanan kurir
                                                melalui outlet mitra.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-particle_enable="false" data-particle-mobile-disabled="false"
                    class="elementor-section elementor-top-section elementor-element elementor-element-0a413b6 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="0a413b6" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d62b859"
                            data-id="d62b859" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-76d52d5 elementor-widget elementor-widget-heading"
                                    data-id="76d52d5" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title1 elementor-size-default">Syarat Kemitraan
                                            KeyBe Mitra B2B
                                        </h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-2200350 elementor-widget elementor-widget-text-editor"
                                    data-id="2200350" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <ol>
                                            <li>Mitra B2B mengajukan pendirian Agency baru kepada Divisi KeyBe Agency ke
                                                Kantor Wilayah (Kanwil Propinsi)</li>
                                            <li>Divisi KeyBe Agency melakukan veriﬁkasi dan berkoordinasi dengan UPT
                                                Kanwil untuk melakukan survey lokasi</li>
                                            <li>Kanwil menetapkan kode agency</li>
                                            <li>Divisi KeyBe Agency Kanwil melakukan registrasi agency baru dan
                                                menyerahkan kode agency kepada Mitra B2B</li>
                                            <li>Mitra B2B menambahkan referensi kode agency dan mengaktifkan agency
                                                baru.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-particle_enable="false" data-particle-mobile-disabled="false"
                    class="elementor-section elementor-top-section elementor-element elementor-element-ee1f329 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="ee1f329" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-157a03c"
                            data-id="157a03c" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-7780ef1 dce_masking-none elementor-widget elementor-widget-image"
                                    data-id="7780ef1" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <style>
                                            /*! elementor - v3.15.0 - 31-07-2023 */
                                           

                                            .elementor-heading-title1 {
                                                color: #1c1c1c !important;
                                                margin-bottom: 20px;
                                            }
                                        </style> <img decoding="async" fetchpriority="high" style="width: 70%; margin-bottom: 20px;"
                                            src="/client/images/ilustrasi-xpress-agency__2.png"
                                            class="attachment-full size-full wp-image-1215"
                                            alt="program kemitraan keybe xpress"
                                            srcset="/client/images/ilustrasi-xpress-agency__2.png 2363w, /client/images/ilustrasi-xpress-agency__2-300x68.png 300w, /client/images/ilustrasi-xpress-agency__2-1024x231.png 1024w, /client/images/ilustrasi-xpress-agency__2-768x173.png 768w, /client/images/ilustrasi-xpress-agency__2-1536x346.png 1536w, /client/images/ilustrasi-xpress-agency__2-2048x461.png 2048w"
                                            sizes="(max-width: 2363px) 100vw, 2363px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>





    </div>
</div>



<style>
    .layoutArea {
        animation-delay: 1s;
    }

    .wh {
        animation-delay: 1.5;
    }

    .slideupdown {
        position: relative;
        animation-name: example;
        animation-duration: 8s;
        animation-delay: 2s;
        animation-iteration-count: infinite
    }

    @keyframes example {
        0% {
            top: 0px;
        }

        50% {
            top: 200px;
        }

        100% {
            top: 0px;
        }
    }
</style>