<div class="row" style="width: 100%; background-color: #fff;">
    <div class="container">
        <div class="content-header">
            <div class="container-fluid">
                <h1 class="title mb-3 bex-color animate__animated animate__fadeInDown" style="font-weight: bolder;">
                    PROGRAM AGENCY</h1>
            </div><!-- /.container-fluid -->
        </div>


        <div class="row">
            <div data-elementor-type="wp-page" data-elementor-id="1195" data-post-id="1195" data-obj-id="1195"
                class="elementor elementor-1195 dce-elementor-post-1195" data-elementor-post-type="page">
                <section data-particle_enable="false" data-particle-mobile-disabled="false"
                    class="elementor-section elementor-top-section elementor-element elementor-element-6e055fe elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="6e055fe" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-63daa91"
                            data-id="63daa91" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-2f72acb elementor-widget elementor-widget-heading"
                                    data-id="2f72acb" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title1 elementor-size-default">Keybe Agency</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-e529b89 elementor-widget elementor-widget-text-editor"
                                    data-id="e529b89" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                       
                                        <p>KeyBe Agency adalah konsep pengembangan jaringan melalui kerjasama kemitraan
                                            antara KeyBeXpress dengan perorangan atau badan usaha dalam rangka
                                            memberikan pelayanan&nbsp;KeyBeXpress&nbsp;secara lebih luas kepada
                                            Masyarakat. Selain untuk lebih mendekatkan diri dengan konsumen, keberadaan
                                            KeyBe Agency dimaksudkan juga sebagai bentuk pemberdayaan sektor ekonomi
                                            mikro melalui pengembangan pola-pola kemitraan dalam bisnis.&nbsp;</p>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-bf23a2d elementor-widget elementor-widget-heading"
                                    data-id="bf23a2d" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title1 elementor-size-default">Manfaat dan
                                            Keuntungan menjadi KeyBe Agency</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-1499ac8 elementor-widget elementor-widget-text-editor"
                                    data-id="1499ac8" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <ol>
                                            <li>KeyBe Agency telah diakui keberadaannya secara luas dan dikelola
                                                oleh&nbsp;KeyBeXpress&nbsp;sejak berdiri</li>
                                            <li>Dalam industri jasa kurir,&nbsp;KeyBeXpress&nbsp;memiliki ribuan titik
                                                layanan yang tersebar luas di seluruh wilayah Indonesia</li>
                                            <li>KeyBe Agency dapat dikelola oleh siapapun anggota Masyarakat, tanpa
                                                harus memiliki modal besar dan keahlian khusus</li>
                                            <li>KeyBeXpress&nbsp;memiliki jangkauan distribusi yang sangat luas baik di
                                                dalam Negeri hingga Mancanegara</li>
                                            <li>Sharing fee yang diberikan menarik hingga 10% dan bersifat progresif.
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-48c8da9 elementor-widget elementor-widget-heading"
                                    data-id="48c8da9" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title1 elementor-size-default">Jenis Pelayanan di
                                            KeyBe Agency</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-7900847 elementor-widget elementor-widget-text-editor"
                                    data-id="7900847" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <ol>
                                            <li>Jasa pengiriman paket, barang dagangan online, surat dan dokumen yang
                                                meliputi: Key9, Key2, Keycomm,<br>KeyBeXpress, Kilat Khusus dan Express
                                                Mail Service (EMS) untuk kiriman ke Luar Negeri;</li>
                                            <li>Penjualan Materai asli dari Peruri/Kantor Pos;</li>
                                            <li>Pembayaran tagihan, angsuran, PPOB (Payment Point Online Bank) dan top
                                                up</li>
                                            <li>Dapat melakukan Pickup, antar jemput pengiriman barang/dokumen seluruh
                                                indonesia</li>
                                            <li>KeyBe Agency akan terus dikembangkan dalam keseluruhan
                                                pelayanan&nbsp;KeyBeXpress&nbsp;lainnya.</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-ecf0e71 elementor-widget elementor-widget-heading"
                                    data-id="ecf0e71" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title1 elementor-size-default">Persyaratan untuk
                                            menjadi KeyBe Agency</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-3e70a71 elementor-widget elementor-widget-text-editor"
                                    data-id="3e70a71" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <ol>
                                            <li>Memiliki tempat usaha. Lokasi diutamakan tidak berdekatan dengan kantor
                                                KeyBe Agency yang terlebih dahulu ada</li>
                                            <li>Memiliki seperangkat komputer/laptoop dengan printer, android (aplikasi
                                                Barcode) dan alat komunikasi (line telepon/internet)</li>
                                            <li>Menyerahkan kiriman dan laporan ke&nbsp;KeyBeXpress&nbsp;penghubung
                                                (Hub) setiap hari pada jam yang disepakati</li>
                                            <li>Mendapatkan persetujuan dari Head Ofﬁce
                                                (HO)&nbsp;KeyBeXpress&nbsp;melalui Direktur Area/Wilayah (AO)</li>
                                            <li>Menandatangani perjanjian.</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-f36fa5b elementor-widget elementor-widget-heading"
                                    data-id="f36fa5b" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title1 elementor-size-default">Adapun Dukungan
                                            KeyBeXpress untuk KeyBe Agency adalah:</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-022b3df elementor-widget elementor-widget-text-editor"
                                    data-id="022b3df" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <ol>
                                            <li>Pelatihan petugas</li>
                                            <li>Instalasi software aplikasi KeyBe Agency</li>
                                            <li>Dukungan pemasaran (Promosi)</li>
                                            <li>Panduan dan bimbingan manejemen usaha</li>
                                            <li>Pembinaan usaha.</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-4cec8bd elementor-widget elementor-widget-heading"
                                    data-id="4cec8bd" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title1 elementor-size-default">Adapun Dukungan
                                            KeyBeXpress untuk KeyBe Agency adalah:</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-33db002 elementor-widget elementor-widget-text-editor"
                                    data-id="33db002" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <ol>
                                            <li>Pemohon mengajukan permohonan secara ter tulis untuk menjadi Ke yBe
                                                Agenc y kepada KeyBe Express terdekat</li>
                                            <li>Survey kelayakan oleh&nbsp;KeyBeXpress&nbsp;(Online/ofﬂine)</li>
                                            <li>KeyBeXpress&nbsp;menerbitkan persetujuan/penolakan secara tertulis
                                                kepada pemohon</li>
                                            <li>Perikatan penyelenggaraan KeyBe Agenc y dituangkan dalam bentuk
                                                perjanjian kerjasama pengelolaan KeyBe Agency</li>
                                            <li>Pelatihan dan persiapan pengoperasian KeyBe Agency.</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-fdf6c5d elementor-widget elementor-widget-heading"
                                    data-id="fdf6c5d" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title1 elementor-size-default">Adapun Dukungan
                                            KeyBeXpress untuk KeyBe Agency adalah:</h5>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-a12e009 elementor-widget elementor-widget-text-editor"
                                    data-id="a12e009" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <ol>
                                            <li>Pemohon Badan Usaha harus melampirkan: Surat Keterangan Domisili Usaha,
                                                SIUP, NPWP, Akta Pendirian, Tanda Daf tar Perusahaan, Denah Calon lokas
                                                i, Identitas dari Pimpinan, Keterangan Status lokasi dengan denah dan
                                                izin lingkungan.</li>
                                            <li>Pemohonan Perorangan harus melampirkan: Identitas Diri, NPWP, Keterangan
                                                Status Lokasi dengan denah dan izin lingkungan.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-particle_enable="false" data-particle-mobile-disabled="false"
                    class="elementor-section elementor-top-section elementor-element elementor-element-81d909a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="81d909a" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c076b90"
                            data-id="c076b90" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-fae1e62 dce_masking-none elementor-widget elementor-widget-image"
                                    data-id="fae1e62" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <style>
                                            /*! elementor - v3.15.0 - 31-07-2023 */
                                            .elementor-heading-title1 {
                                                color: #1c1c1c !important;
                                                margin-bottom: 20px;
                                            }
                                        </style> 
                                        <img decoding="async" fetchpriority="high" style="width: 70%; margin-bottom: 20px;"
                                            src="/client/images/ilustrasi-xpress-agency__1.png"
                                            class="attachment-full size-full wp-image-1210"
                                            alt="program agency keybe xpress"
                                            srcset="/client/images/ilustrasi-xpress-agency__1.png 2127w, /client/images/ilustrasi-xpress-agency__1-300x162.png 300w, /client/images/ilustrasi-xpress-agency__1-1024x552.png 1024w, /client/images/ilustrasi-xpress-agency__1-768x414.png 768w, /client/images/ilustrasi-xpress-agency__1-1536x828.png 1536w, /client/images/ilustrasi-xpress-agency__1-2048x1103.png 2048w"
                                            sizes="(max-width: 2127px) 100vw, 2127px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-particle_enable="false" data-particle-mobile-disabled="false"
                    class="elementor-section elementor-top-section elementor-element elementor-element-a98d902 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="a98d902" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-012a3f0"
                            data-id="012a3f0" data-element_type="column">
                            <div class="elementor-widget-wrap">
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-94015f8"
                            data-id="94015f8" data-element_type="column">
                            <div class="elementor-widget-wrap">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>





    </div>
</div>



<style>
    .layoutArea {
        animation-delay: 1s;
    }

    .wh {
        animation-delay: 1.5;
    }

    .slideupdown {
        position: relative;
        animation-name: example;
        animation-duration: 8s;
        animation-delay: 2s;
        animation-iteration-count: infinite
    }

    @keyframes example {
        0% {
            top: 0px;
        }

        50% {
            top: 200px;
        }

        100% {
            top: 0px;
        }
    }
</style>